{% extends "base.html" %}

{% block title %}
Problem List.
{% endblock %}

{% block style %}
<style type="text/css">
table {
    width:100%;
    text-align: left
}
thead {
    color:cadetblue;
}
form{
    margin-bottom:15px;
}
.page-nav{
    margin-bottom:10px;
    text-align: center;
    font-size: 18px;
}
.page-nav>a{
    margin-left: 5px;
}
.page-nav .active{
    color: darkgoldenrod
}
</style>
{% endblock %}

{% block main %}
    <form action="{% url 'user_list' %}" method="GET" enctype="application/x-www-form-urlencoded" class="form-inline" role="form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="content" class="form-control" value="{{ content }}" placeholder="Username">
        </div>
        <button type="submit" class="btn btn-default">Find.</button>
    </form>

    {% if users|length %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="26%">UserName</th>
                <th width="26%">NickName</th>
                <th width="16%">AC</th>
                <th width="16%">Submited</th>
                <th width="16%">Rate</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{% url 'one_user_info' user.user_id %}" target="_self">{{ user.user_id }}</a></td>
                <td>{{ user.nick }}</td>
                <td>{{ user.solved }}</td>
                <td>{{ user.submit }}</td>
                <td><span>{{ user.submited }}</span> %</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    No such Result!
    {% endif %}
    <div class="page-nav">
    Page:
        {% for index in page_number %}
            {% ifequal offset index %}
                <a class="active" href="?offset={{ index }}{{ query_param }}">{{ index }}</a>
            {% else %}
                <a href="?offset={{ index }}{{ query_param }}">{{ index }}</a>
            {% endifequal %}
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
<script>
    $.each($("tbody tr"), function(index, item) {
        var $tds = $(item).find("td");
        $($tds[4]).find("span")[0].innerText = ($tds[3].innerText == "0") ? "-":
                (parseInt($tds[2].innerText) * 100 / parseInt($tds[3].innerText)).toFixed(2);

    });
</script>
{% endblock %}