appdirs==1.4.2
beautifulsoup4==4.5.3
bs4==0.0.1
crcmod==1.7
Django==1.10.3
html5lib==0.999999999
image==1.5.5
lxml==3.7.3
MySQL-python==1.2.5
olefile==0.44
oss2==2.2.3
packaging==16.8
Pillow==3.4.2
Pygments==2.1.3
pyparsing==2.1.10
python-memcached==1.58
qrcode==5.3
requests==2.13.0
shortuuid==0.4.3
six==1.10.0
webencodings==0.5
