{% extends "base.html" %}

{% block title %}
Run Status List.
{% endblock %}

{% block style %}

<style type="text/css">
table {
    text-align: left;
    width:100%;
}
thead, .page-info{
    color:cadetblue;
}
.page-info>span{
    color:goldenrod;
}
form {
    margin-bottom:15px;
}
.page-nav>a {
    margin: 0 5px 0 0;
    color:cadetblue;
}
.level-one-index>th{
    text-align:center;
    border-bottom:0!important;
}
.table-border-left {
    border-left: 1px dashed #ccc!important;
}
.table-border-right {
    border-right: 1px dashed #ccc!important;
}
</style>
{% endblock %}

{% block main %}
    <form action="{% url 'status_list' %}" method="get" enctype="application/x-www-form-urlencoded" class="form-inline" role="form">
        <div class="form-group">
            <label for="search_problem_by_id">Problem ID:</label>
            <input type="text" name="problem" class="form-control" id="search_problem_by_id" value="{{ problem }}" placeholder="Problem ID">
        </div>
        <div class="form-group">
            <label for="search_problem_by_user">User:</label>
            <input type="text" name="user_id" class="form-control" id="search_problem_by_user" value="{{ user_id }}" placeholder="User">
        </div>
        <div class="form-group">
            <label for="search_problem_by_language">Language:</label>
            <select name="language" class="form-control" id="search_problem_by_language">
                <option value="" selected="">All</option>
                {% for language_name in support_language %}
                {% ifequal language language_name.0 %}
                <option value="{{ language_name.0 }}" selected="selected">{{ language_name.1 }}</option>
                {% else %}
                <option value="{{ language_name.0 }}">{{ language_name.1 }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="search_problem_by_result">Result:</label>
            <select name="result" class="form-control" id="search_problem_by_result">
                <option value="">All</option>
                {% for item in judge_result %}
                    {% if 3 < forloop.counter0 and forloop.counter0 < 12 %}
                        {% ifequal result item %}
                        <option value="{{ forloop.counter0 }}" selected="selected">{{ item }}</option>
                        {% else %}
                        <option value="{{ forloop.counter0 }}">{{ item }}</option>
                        {% endifequal %}
                    {% endif %}
                {% endfor %}
                {% ifequal result 'Others' %}
                <option value="100" selected="selected">Others</option>
                {% else %}
                <option value="100">Others</option>
                {% endifequal %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Find.</button>
    </form>

    {% if solutions|length %}
    <table class="table table-striped table-condensed">
        <thead>
            <tr class="level-one-index">
                <td colspan="2"></td>
                <th class="table-border-left table-border-right hidden-xs" colspan="3">Run Info</th>
                <th class="table-border-right hidden-xs" colspan="4">Code Info</th>
            </tr>
            <tr>
                <th width="">Problem</th>
                <th class="hidden-xs" width="">From</th>

                <th width="" class="table-border-left">Result</th>
                <th class="hidden-xs" width="">Memory/Time</th>

                <th width="" class="table-border-left">User</th>
                <th class="">Language /Size/</th>
                <th width="" class="table-border-right">Submit at</th>

                <th class="hidden-xs" width="">Judger</th>
            </tr>
        </thead>
        <tbody>
        {% for solution in solutions %}
            <tr>
                <td><a href="{% url 'one_problem' solution.judge_name solution.problem_id %}" target="_self">{{ solution.judge_name }}-{{ solution.problem_id }}</a></td>
                <td class="hidden-xs">
                    {% if solution.judge_type %}
                    <a target="_blank" href="{{ solution.vjudge_problem_url }}">{{ solution.judge_name }}</a>
                    {% else %}
                        {{ solution.judge_name }}
                    {% endif %}
                </td>

                {% if solution.moreinfo %}
                <td class="table-border-left {{ solution.result_type }}"><a href="{% url 'runtime_info' solution.solution_id %}?result={{ solution.result }}" target="_self">{{ solution.result_name }}</a></td>
                {% else %}
                <td class="table-border-left {{ solution.result_type }}">{{ solution.result_name }}</td>
                {% endif %}

                <td class="hidden-xs">{{ solution.memory }}K / {{ solution.time }}ms</td>

                <td class="table-border-left"><a href="{% url 'one_user_info' solution.user_id %}" target="_self">{{ solution.user_id }}</a></td>

                {% if request.user.username == solution.user_id or request.user.is_superuser %}
                <td><a href="{% url 'only_source_by_run_id' solution.solution_id %}" target="_self">{{ solution.language_name }} /{{ solution.code_length }} B/</a></td>
                {% else %}
                <td>{{ solution.language_name }} /{{ solution.code_length }} B/</td>
                {% endif %}
                <td class="table-border-right utc-time-to-local-time">{{ solution.in_date|date:'c' }}</td>

                <td class="hidden-xs">{{ solution.judger }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    No such Result!
    {% endif %}

    <div class="clearfix">
        <div class="pull-left page-info">Page <span>{{ offset }}</span></div>
        <div class="pull-right page-nav">
        {% if offset %}
            <a href="{% url 'status_list' %}?offset=0{{ page_param }}">First Page</a>
            <a href="?offset={{ offset|add:-1 }}{{ page_param }}">Previous Page</a>
        {% else %}
            <!--
            <span disabled="disabled">First Page</span>
            <span disabled="disabled">Previous Page</span>
            -->
        {% endif %}

        {% ifequal solutions|length limit %}
            <a href="?offset={{ offset|add:1 }}{{ page_param }}">Next Page</a>
        {% endifequal %}
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="pull-left hidden-xs">Query used  :  {{ used_time }} ms&nbsp;&nbsp;</div>
{% endblock %}

{% block script %}
<script>
$(function(){
    $("form select").on('change', function() {
        $("form").submit();
    });
    $("form input").on('change', function() {
        $("form").submit();
    });
});
</script>
{% endblock %}