{% extends "base.html" %}
{% block title %}
    Articles.
{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/editor/editormd.css' %}"/>
    <style>
        article {
            border: 1px solid #dddddd;
            border-left: 8px solid #cccccc;
            padding: 10px 0;
            margin-bottom: 14px;
        }

        article.odd {
            background-color: #f2f2f2;
        }

        article.even {
            background-color: #ffffff;
        }

        article hr {
            border-top: 2px solid #e8e8e8;
            margin: 10px 0;
        }

        article h4 {
            color: #43788a;
        }

        article .gravatar {
            margin-right: 10px;
        }

        article .gravatar img {
            width: 64px;
            height: 64px;
        }

        article .content-wrapper {

        }

        div.content {
            max-height: 160px;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 5px;
        }

        article .username {
            color: #2e6da4;
        }

        .comment-number {
            margin-left: 20px;
        }

        .overflow {
            transition: max-height .32s cubic-bezier(.95, .05, .795, .035), -webkit-mask-size .22s cubic-bezier(.95, .05, .795, .035);
            transition: mask-size .22s cubic-bezier(.95, .05, .795, .035), max-height .32s cubic-bezier(.95, .05, .795, .035);
            transition: mask-size .22s cubic-bezier(.95, .05, .795, .035), max-height .32s cubic-bezier(.95, .05, .795, .035), -webkit-mask-size .22s cubic-bezier(.95, .05, .795, .035);
            -webkit-mask-image: linear-gradient(#000 calc(100% - 8rem), transparent calc(100% - 2.8rem));
            mask-image: linear-gradient(#000 calc(100% - 8rem), transparent calc(100% - 2.8rem));
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        .see-more {
            text-align: center;
            color: #2e6da4;
            margin-top: -12px;
            z-index: 999 !important;
            cursor: pointer;
            padding: 10px;
        }

        #editorArea {
            display: none;
        }

        .add-article-option {
            text-align: center;
            margin: 20px 0 40px 0;
        }

        .add-article {
            padding: 20px;
            border: 4px dashed #9d9d9d;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 40px;
            cursor: pointer;
            color: #666;
        }

        .add-article .glyphicon {
            font-size: 84px;
            color: #aaa;
        }

        #titleAlert {
            font-size: 16px;
            color: red;
            padding-left: 40px;
        }

        @-webkit-keyframes twinkling { /*透明度由0到1*/
            0% {
                opacity: 0; /*透明度为0*/
            }
            100% {
                opacity: 1; /*透明度为1*/

            }
        }
    </style>
{% endblock %}
{% block main %}
    {% if request.user.is_authenticated %}
    <div id="editorArea">
        <div style="padding: 0 20px;">
            <div class="form-group">
                <label for="title">Title:</label><span id="titleAlert"></span>
                <input name="title" type="text" class="form-control" id="title" required="required"/>
            </div>
        </div>
        <div id="newEditor">
            <textarea style="display:none;"></textarea>
        </div>
        <div class="add-article-option">
            <button class="btn btn-default" id="cancelEditor">Cancel</button>
            <button class="btn btn-diy" id="submitContent">Submit</button>
        </div>
    </div>
    <div class="add-article">
        <div><span class="glyphicon glyphicon-plus"></span></div>
        Post an article.
    </div>
    {% endif %}
    {% for article in articles %}
        <article class="article {% cycle 'odd' 'even' %} clearfix" data-id="{{ article.tid }}">
            <div class="gravatar col-sm-1">
                <img src="{{ article.gravatar }}?s=64"/>
            </div>
            <div class="content-wrapper col-sm-10">
                <a href="{% url 'one_article' article.tid %}"><h4>{{ article.title }}</h4></a>
                <div>
                    <span class="username">{{ article.author__username }}</span>
                    at {{ article.updated_at|date:"Y-m-d H:i:s" }}
                    <a href="{% url 'one_article' article.tid %}"><span
                            class="comment-number">Comments({{ article.comment_count }})</span></a>
                </div>
                <hr>
                {% autoescape off %}
                    <div class="content markdown-body">{{ article.content }}</div>
                {% endautoescape %}
            </div>
        </article>
    {% endfor %}

{% endblock %}
{% block script %}
    <script src="{% static 'js/editor/editormd.js' %}"></script>
    <script src="{% static 'lib/prettify.min.js' %}"></script>
    <script src="{% static 'lib/marked.min.js' %}"></script>
    <script>
        $(function () {
            var markedOptions = {
                gfm: true,
                tables: true,
                breaks: true,
                pedantic: false,
                sanitize: false,
                smartLists: true,
                smartypants: true
            };

            marked.setOptions(markedOptions);

            $("div.content").each(function (index, item) {
                var content = item.innerHTML;
                if (content.substring(0, markdownTag.length) === markdownTag) {
                    content = marked(content);
                    $(item).html(content);
                }
                if (item.offsetHeight > 140) {
                    $(item).addClass('overflow');
                    var $seeMore = $("<div class='see-more'>--查看更多--</div>");
                    $seeMore.on("click", function () {
                        var tid = $(item).parent().parent().attr('data-id');
                        window.location.href = '/article/' + tid;
                    });
                    $(item).parent().append($seeMore);
                }
            });

            $(".add-article").one("click", function () {
                $(this).hide();
                var markdownEditor = editormd("newEditor", {
                    width: "96%",
                    height: 540,
                    syncScrolling: "single",
                    path: "/static/lib/",
                    imageUpload: true,
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL: "{% url 'image_receiver' %}",
                    emoji: false
                });
                $("#editorArea").show();
                $("#submitContent").on("click", function () {
                    if ($("input[name=title]").val() === "") {
                        $("#titleAlert").text("Article title required.");
                        $("#titleAlert").css({"-webkit-animation": "twinkling 0.3s infinite ease-in-out"});
                        setTimeout(function () {
                            $("#titleAlert").css("");
                            $("#titleAlert").text("");
                        }, 1200);
                        return false;
                    }
                    var value = markdownEditor.getValue();
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            content: "<!--Markdown-->\n" + value,
                            title: $("input[name=title]").val()
                        },
                        url: '{% url 'post_receiver' %}',
                        success: function (result) {
                            if (result.status === 200) {
                                window.location.reload();
                            } else {
                                alert(result.message);
                            }
                        }
                    });
                });
            });
        });
        $("#cancelEditor").on("click", function () {
            $("#editorArea").hide();
            $(".add-article").show();
            $(".add-article").one("click", function () {
                $(this).hide();
                $("#editorArea").show();
            });
        });

    </script>
{% endblock %}