{% extends "base.html" %}

{% block title %}
Contest List.
{% endblock %}

{% block style %}
<style>
.tools {
    margin: 10px 0 20px 0;
}
</style>
{% endblock %}

{% block main %}
<div class="table-responsive">
    <div class="clearfix tools">
        {% if request.user.is_authenticated %}
        <a class="btn btn-diy" href="{% url 'create_contest' %}">Create Contest</a>
        {% else %}
        <a class="btn btn-diy" href="{% url 'account_login' %}?from_url={% url 'create_contest' %}">Login and Create Contest</a>
        {% endif %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Start(ed) at</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Permission</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
        {% for contest in contests %}
            <tr>
                <td>{{ contest.0.contest_id }}</td>
                <td><a href="{% url 'one_contest' contest.0.contest_id %}" target="_self">{{ contest.0.title }}</a></td>
                <td class="start-time utc-time-to-local-time">{{ contest.0.start_time|date:"c" }}</td>
                <td>{{ contest.1.duration }}</td>
                {% ifequal contest.1.status 0 %}
                    <td class="info">Scheduled</td>
                {% else %}
                    {% ifequal contest.1.status 1 %}
                        <td class="success">Running</td>
                    {% else %}
                        <td class="danger">Ended</td>
                    {% endifequal%}
                {% endifequal %}
                <td>{{ contest.1.permissions }}</td>
                <td>{{ contest.0.user_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
