{% extends "base.html" %}

{% block title %}
ERROR.
{% endblock %}

{% block style %}
<style>
.content{
    text-align: center
}
</style>
{% endblock %}

{% block mystyle %}

{% endblock %}

{% block main %}
    <div class="content">
        <h3>{% if error_msg == '' or error_msg is None %}Sorry! Some Error happened.
        {% else %}{{ error_msg }}{% endif %}</h3>
        <p>Server will take you back to <a href="javascript:void(0);" id="toLastPage">last page</a> in <span id="timer" style="color:red"></span> second(s).</p>
        <p><a href="{% url 'index' %}" target="_self">Click here</a> to index page.</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>
var toLastPage = document.getElementById("toLastPage");
toLastPage.onclick = function() {
    history.go(-1);
};

timer = function(now) {
    if (now <= 0) {
        history.go(-1);
    }
    document.getElementById("timer").innerText = now;
    setTimeout(function() {
        timer(now - 1);
    }, 1000);
};
timer(5);
</script>
{% endblock %}
