{% extends "base.html" %}

{% block title %}
F.A.Q.
{% endblock %}

{% block style %}
<style>
.content{
    margin: 30px;
}
.content>h2{
    text-align: center;
    color:cadetblue;
    margin-bottom: 30px;
}
</style>
{% endblock %}

{% block main %}
<div class="content">
    <h2>ACMORE Online Judge F.A.Q</h2>
	<p>
		<span style="color:green">Q</span>:What is the compiler the judge is using and what are the compiler options?<br>
		<span style="color:red">A</span>:The online judge system is running on Ubuntu 14.04.4 LTS x86_64 Linux.<br>
	</p>
	<table border="1">
		<tbody><tr>
			<td>C:</td>
			<td><span style="color:blue">gcc Main.c -o Main -fno-asm -O2 -Wall -lm --static -std=c99 -DONLINE_JUDGE</span></td>
		</tr>
		<tr>
			<td>C++:</td>
			<td><span style="color:blue">g++ Main.cc -o Main -fno-asm -O2 -Wall -lm --static -DONLINE_JUDGE</span></td>
		</tr>
		<tr>
			<td>Pascal:</td>
			<td><span style="color:blue">fpc Main.pas -oMain -O1 -Co -Cr -Ct -Ci </span></td>
		</tr>
		<tr>
			<td>Java:</td>
			<td><span style="color:blue">javac -J-Xms32m -J-Xmx256m Main.java</span>
			<br>
			<span style="color:red">*Java has 2 more seconds and 512M more memory when running and judging.</span>
			</td>
		</tr>
		<tr>
			<td>Clang:</td>
			<td>
                <span style="color:blue">clang Main.c -o Main -fno-asm -Wall -lm --static -std=c99 -DONLINE_JUDGE</span>
			</td>
		</tr>
        <tr>
			<td>Clang++:</td>
			<td>
                <span style="color:blue">clang++ Main.cc -o Main -fno-asm -Wall -lm --static -std=c++0x  -DONLINE_JUDGE</span>
			</td>
		</tr>
	</tbody></table>
	<hr>
	<span style="color:green">Q:</span>
	<p>Where is the input and the output?</p>
	<br>
	<span style="color:red">A:</span>
	<p>Your program shall read input from stdin('Standard Input') and write output to stdout('Standard Output').For example,you can use 'scanf' in C or 'cin' in C++ to read from stdin,and use 'printf' in C or 'cout' in C++ to write to stdout.</p>
	<br>
	<p>User programs are not allowed to open and read from/write to files, you will get a "<span style="color:green">Runtime Error</span>" if you try to do so.</p>
	<p>You can get sample program code in P1000.</p>
	<hr>
	<span style="color:green">Q</span>:Why did I get a Compile Error? It's well done!<br>
	<span style="color:red">A</span>:There are some differences between GNU and MS-VC++, such as:<br>
	<ul>
		<li><span style="color:blue">main</span> must be declared as <span style="color:blue">int</span>, <span style="color:blue">void main</span> will end up with a Compile Error.<br>
		</li><li><span style="color:green">i</span> is out of definition after block "<span style="color:blue">for</span>(<span style="color:blue">int</span> <span style="color:green">i</span>=0...){...}"<br>
		</li><li><span style="color:green">itoa</span> is not an ANSI function.<br>
		</li><li><span style="color:green">__int64</span> of VC is not ANSI, but you can use <span style="color:blue">long long</span> for 64-bit integer.<br>try use #define __int64 long long when submit codes from MSVC6.0
	</li></ul>
	<hr>
	<span style="color:green">Q</span>:What is the meaning of the judge's reply XXXXX?<br>
	<span style="color:red">A</span>:Here is a list of the judge's replies and their meaning:<br>
	<p><span style="color:blue">Waiting</span> : The judge is so busy that it can't judge your submit at the moment, usually you just need to wait a minute and your submit will be judged. </p>
	<p><span style="color:blue">Waiting Rejudge</span>: The test datas has been updated, and the submit will be judged again and all of these submission was waiting for the Rejudge.</p>
	<p><span style="color:blue">Compiling</span> : The judge is compiling your source code.<br></p>
	<p><span style="color:blue">Running</span>: Your code is running and being judging by our Online Judge.<br></p>
	<p>
		<span style="color:blue">Accepted</span> : OK! Your program is correct!.<br>
		<br>
		<span style="color:blue">Presentation Error</span> : Your output format is not exactly the same as the judge's output, although your answer to the problem is correct. Check your output for spaces, blank lines,etc against the problem output specification.<br>
		<br>
		<span style="color:blue">Wrong Answer</span> : Correct solution not reached for the inputs. The inputs and outputs that we use to test the programs are not public (it is recomendable to get accustomed to a true contest dynamic ;-).<br>
		<br>
		<span style="color:blue">Time Limit Exceeded</span> : Your program tried to run during too much time.<br>
		<br>
		<span style="color:blue">Memory Limit Exceeded</span> : Your program tried to use more memory than the judge default settings.  <br>
		<br>
		<span style="color:blue">Output Limit Exceeded</span>: Your program tried to write too much information. This usually occurs if it goes into a infinite loop. Currently the output limit is 1M bytes.<br>
		<br>
		<span style="color:blue">Runtime Error</span> : All the other Error on the running phrase will get Runtime Error, such as 'segmentation fault','floating point exception','used forbidden functions', 'tried to access forbidden memories' and so on.<br>
		<br>
		<span style="color:blue">Compile Error</span> : The compiler (gcc/g++/gpc) could not compile your ANSI program. Of course, warning messages are not error messages. Click the link at the judge reply to see the actual error message.<br>
		<br>
	</p>
	<hr>
	<span style="color:green">Q</span>:How to attend Online Contests?<br>
	<span style="color:red">A</span>:Can you submit programs for any practice problems on this Online Judge? If you can, then that is the account you use in an online contest.
	If you can't, then please <a href="registerpage.php">register</a> an id with password first.<br>



</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}