{% extends "base.html" %}

{% block title %}
Thanks.
{% endblock %}

{% block style %}
<style>
.content{
    margin: 0 auto;
    max-width: 720px;
}
</style>
{% endblock %}

{% block main %}
<div class="content">
    <h3>致谢：</h3>
    <p>ACMORE 网站的建立离不开许多开源项目。</p>
    <p>开始时ACMORE使用HUSTOJ项目搭建，仅为社团活动使用。</p>
    <p>经过几番更迭现ACMORE已不再兼容HUSTOJ，但依然感谢HUSTOJ项目负责人张浩斌老师所做的付出。</p>
    <p>ACMORE 中主要使用的开源项目列表如下，感谢他们:</p>
    <ul>
        <li>ACMORE 评测部分仍在使用<a href="https://github.com/zhblue/hustoj" target="_blank">HUSTOJ</a>开源项目 许多代码</li>
        <li>ACMORE Paste 功能使用<a href="http://pygments.org/" target="_blank">Pygments</a> 代码高亮工具</li>
        <li>ACMORE 使用<a href="https://www.djangoproject.com/" target="_blank">Django</a> 作为Web后端开发框架</li>
        <li>ACMORE 使用<a href="https://mariadb.org/" target="_blank">MariaDB</a> 数据库存储数据</li>
        <li>ACMORE 使用<a href="https://memcached.org/" target="_blank">Memcached</a> 缓存热点数据</li>
        <li>ACMORE 使用<a href="https://jquery.com/" target="_blank">jQuery</a> 作为JS开发库</li>
        <li>ACMORE 使用<a href="https://vuejs.org/" target="_blank">VUE</a> 作为JS开发框架</li>
        <li>ACMORE 使用<a href="http://v3.bootcss.com/" target="_blank">BootStrap v3</a> 作为CSS开发框架</li>
        <li>ACMORE 使用<a href="https://github.com/skorokithakis/shortuuid" target="_blank">ShortUUID</a> 生成或缩短部分资源唯一标识</li>
        <li>ACMORE 使用<a href="https://pypi.python.org/pypi/qrcode" target="_blank">Qrcode</a> 生成二维码</li>
    </ul>
    <p>此外，还借鉴/引用了无数网络上的代码，尤其感谢<a href="http://stackoverflow.com/" target="_blank">Stackoverflow</a>的各位，对我帮助甚多。</p>
    <p>还要感谢上海第二工业大学老师同学朋友们的鼎力帮助和不计回报的付出。</p>

    <hr>

    <h3>Acknowledgments:</h3>
    <p>ACMORE is based on many open source project, was built using the HUSTOJ project, which is used only for corporate events initially.</p>
    <p>Some open-source projects that ACMORE used are as follows</p>
    <ul>
        <li><a href="https://github.com/zhblue/hustoj" target="_blank">HUSTOJ</a></li>
        <li><a href="http://pygments.org/" target="_blank">Pygments</a></li>
        <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
        <li><a href="https://mariadb.org/" target="_blank">MariaDB</a></li>
        <li><a href="https://memcached.org/" target="_blank">Memcached</a></li>
        <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
        <li><a href="https://vuejs.org/" target="_blank">VUE</a></li>
        <li><a href="http://v3.bootcss.com/" target="_blank">BootStrap v3</a></li>
        <li><a href="https://github.com/skorokithakis/shortuuid" target="_blank">ShortUUID</a></li>
        <li><a href="https://pypi.python.org/pypi/qrcode" target="_blank">Qrcode</a></li>
    </ul>
    <p>Also to thank the Shanghai Second Polytechnic University teachers and friends for their
        demanding nothing in return for so many help.</p>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}