{% extends "manage/base.html" %}

{% block title %}
    ACMORE Change Password
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block mystyle %}
{% endblock %}

{% block main %}
    <form>
        <div class="form-group">
            <label>Username:<input type="text" placeholder="Username" name="username"/></label>
            <button class="btn btn-warning" type="button" id="checkUserButton">Check User</button>
        </div>
        <div class="form-group">
            <label>Password:<input type="text" placeholder="Password" name="password"/></label>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit" id="submitChange" disabled="disabled">Submit</button>
        </div>
    </form>
    <div id="usernameInfo">
    </div>
    <script>
        var nowUsername = '';
        var form = document.querySelector("form");
        var submitButton = document.querySelector("#submitChange");
        var checkUserButton = document.querySelector("#checkUserButton");
        var username = (function () {
            return document.querySelector('input[name="username"]').value;
        });

        checkUserButton.onclick = function () {
            var postData = new FormData();
            postData.append('u', username());

            fetch('{% url 'check_user' %}', {
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'include',
                method: "POST",
                body: postData
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                var html = "";
                if (data.status === 200) {
                    userInfo = data.data;
                    submitButton.removeAttribute("disabled");
                    var keyArr = {
                        'username': 'Username',
                        'last_login': 'Last login',
                        'email': 'Email'
                    };
                    nowUsername = userInfo['username'];
                    html = "<span style='color:green'>Find one user information.</span>";
                    for (i in userInfo) {
                        html += '<div><span>' + keyArr[i] + '</span>:&nbsp;<span>' + userInfo[i] + '</span></div>';
                    }
                } else {
                    html = "<span style='color:red'>" + data.message + "</span>";
                }
                document.querySelector("#usernameInfo").innerHTML = html;
            })
        };
        form.onsubmit = function (e) {
            e.preventDefault();
            var password = document.querySelector("input[name='password']").value;
            if (password.length < 6 || password.length > 32) {
                alert("Length of password is illegal.");
            } else {
                var postData = new FormData();
                postData.append('u', nowUsername);
                postData.append('p', password);
                fetch('{% url 'change_password' %}', {
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'include',
                    method: "POST",
                    body: postData
                }).then(function (response) {
                    return response.json();
                }).then(function(data) {
                    if (data.status === 200) {
                        document.querySelector("input[name='password']").value = "";
                        document.querySelector("input[name='username']").value = "";
                        html = "<span style='color:green'>Change password success.</span>";
                    }else {
                        html = "<span style='color:red'>" + data.message + "</span>";
                    }
                    document.querySelector("#usernameInfo").innerHTML = html;
                });
            }
        };

    </script>
{% endblock %}

